<style>
.index {
	width: 200px;
}
.box {
	width: 400px;
	background-color: black;
	padding: 20px;
	margin: 20px;
	border-radius: 75px;
}
</style>
<div class="jumbotron text-center">
	<center>
	<div class="box text-center">
		<h3><font color="white">WELCOME TO</font><br> <font color="red">GUESS</font><font color="blue"> MY</font><font color="yellow"> NUMBER</font>! </h3>
	</div>
  	I will <u>choose </u>a number between<b> 1-100.</b><br>
  	Try to <b>guess</b> what number it is.<br>
  	You can select difficulty level too!<br>
  	Are you in?<br><br>
  	<a href="/level"><img title="Play Now!" src="images/pn.png" width="200" /></a></center>
</div>
