<style>
.number {
	text-align: center;
	font-size: 14pt;
	color: yellow;
	font-weight: bold;
	width: 100px;
	background-color: blue;
	padding: 2px;
	margin: 2px;
	border-radius: 75px;
	float: center;
}
</style>
<div class="jumbotron text-center">
	<center>
	<img src="images/congrats.gif" /><br>
	Congratulations!<br>
	<h2>YOU'VE WON!</h2>
	My secret number is<br>
	<center><div class="number"><%= session['number'] %></div></center><br>
	<a href="/"><img src="images/homes.png" width="100" title="Home" /></a>
	<% if session['level'] == "EASY" %>
	<a href="/lvl?set=EASY&chance=5">
	<% elsif session['level'] == "MEDIUM" %>
	<a href="/lvl?set=MEDIUM&chance=10">
	<% else %>
	<a href="/lvl?set=HARD&chance=20">
	<% end %><img src="images/agains.png" width="100" title="Play Again (same difficulty level)" /></a>
	<a href="/level"><img src="images/plays.png" width="100" title="New Game" /></a>
	</center>
</div>